* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

.container {
    display: flex;
}

/* partion of images and login form */
.partition-image {
    display: flex;
    width: 70%;
    height: 100vh;
    flex-direction: column;
}

/* acc to the website the welcome text is at the top */
.welcome-heading {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

/* logo of the website */
.logo {
    position: absolute;
    width: 35px;
    margin: 40px;
}

/* dashboard image of the login page */
.dash-img-login {
    padding: 20px;
    max-width: 700px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

/* css in icons */
.tech-icons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 10px;
}

.icons {
    width: 32px;
    height: 32px;
    filter: grayscale(100%);
}


/* login form partition */
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    height: 460px;
}

.partition-login {
    display: flex;
    width: 40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-login-heading {
    font-size: 2rem;
    display: flex;

}


/* sign up link */
.signup-link {
    text-decoration: none;
    color: rgb(0, 167, 111);
}

.login-form a:hover {
    text-decoration: underline;
}

/* email and password input tags */
.email-box {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    letter-spacing: inherit;
    border: 1px solid gray;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    display: block;
    min-width: 0px;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    padding: 16.5px 14px;
    border-radius: 20px;
    width: 93%;
}

.email-box:focus::placeholder,
.password-box:focus::placeholder {
    transform: translateY(-90%);
    transition: 0.5s ease-in-out all;
}

.email-box:hover::placeholder,
.password-box:hover::placeholder {
    transform: translateY(-90%);
    color: rgb(0, 167, 111);
    transition: 0.5s ease-in-out all;

}

.email-box:focus,
.password-box:focus {
    outline: none;
    border: 1px solid rgb(0, 167, 111);
}

.email-box:hover,
.password-box:hover {
    border: 1px solid rgb(0, 167, 111);
}

.password-box {
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-optical-sizing: inherit;
    letter-spacing: inherit;
    border: 1px solid gray;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    display: block;
    min-width: 0px;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    padding: 16.5px 14px;
    border-radius: 20px;
    width: 88%;
}

/* Forget password links */
.forget-password {
    margin: 0px;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    text-decoration: underline;
    color: inherit;
    align-self: flex-end;
}

.forget-password:hover {
    color: rgb(0, 167, 111);
}

/* login button */
.login-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    outline: 0px;
    border: 0px currentColor;
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    line-height: 1.71429;
    text-transform: unset;
    font-family: "Public Sans", sans-serif;
    min-width: 64px;
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    box-shadow: none;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 43, 54);
    height: 48px;
    font-size: 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: block;
    width: 70%;
    margin: auto;
}

.info-icon {
    width: 20px;
}

.login-button:hover {
    background-color: rgb(69, 79, 91);
}

/* the green container that contains demo email and password */
.user-name-password-container {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 8px;
    box-shadow: none;
    background-image: none;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    display: flex;
    padding: 6px 16px;
    color: rgb(0, 55, 104);
    background-color: rgb(202, 253, 245);
    margin-bottom: 24px;
    padding: 30px;
    width: 450px;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
}

.password-constainer {
    width: 100%;
}

/* the password hide and show option or the eye option */
.eye-icon {
    position: relative;
    width: 25px;
    top: -37px;
    left: 427px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

}

/* triggers when less then 1210 */
@media (max-width: 1210px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .partition-image,
    .partition-login {
        width: 90%;
        height: auto;
    }

    .dash-img-login {
        max-width: 580px;
    }

    .login-form {
        max-width: 100%;
    }

    .user-name-password-container {
        display: flex;
        margin: auto;
        line-height: 15px;
        flex-direction: row;
    }

    .eye-icon {
        position: relative;
        left: 90%;
    }

    .forget-password {
        position: relative;
        right: 7%;
    }

    .email-box {
        width: 94%;
        display: block;
        margin: auto;
    }

    .login-button {
        width: 90%;
        display: block;
        margin: auto;

    }

    .password-box {
        width: 90%;
        display: block;
        margin: auto;
    }
}

/* triggers when ranges between 333px to 700px*/
@media (min-width: 333px) and (max-width: 700px) {

    .welcome-heading,
    .tech-icons,
    .dash-img-login {
        display: none;
    }

    .partition-login {
        position: absolute;
        display: flex;
        top: 20%;
        flex-wrap: nowrap;
    }

    .password-box {
        width: 85%;
    }

    .email-box {
        width: 89%;
    }
}

/* triggers when width of the screen is less than 500px */
@media (max-width: 500px) {
    .user-name-password-container {
        width: 70%;
    }
}

/* triggers when width is in the range of 270px to 333px */
@media (min-width: 270px) and (max-width: 333px) {

    .dash-img-login {
        display: none;
    }

    .welcome-heading {
        display: none;
    }

    .tech-icons {
        display: none;
    }

    .partition-login {
        position: absolute;
        display: flex;
        top: 20%;
        flex-wrap: nowrap;
    }

    .welcome-login-heading {
        font-size: 1.2rem;
    }

    .eye-icon {
        width: 10px;
    }

    .user-name-password-container {
        width: 100%;
        font-size: 0.5rem;
    }

    .create-account-text-link,
    .forget-password {
        font-size: 0.5rem;
    }

    .info-icon {
        width: 15px;
    }

    .password-box {
        width: 79%;
    }

    .email-box {
        width: 88%;
    }
}

/* triggers when width is between the range of 0px to 270px */
@media (min-width: 0px) and (max-width: 270px) {
    .logo {
        margin: 22px 0px 0px 49px;
        display: block;
    }

    .dash-img-login {
        display: none;
    }

    .welcome-heading {
        display: none;
    }

    .tech-icons {
        display: none;
    }

    .partition-login {
        position: absolute;
        display: flex;
        top: 10%;
        flex-wrap: nowrap;
    }

    .welcome-login-heading {
        font-size: 0.9rem;
    }

    .eye-icon {
        width: 10px;
    }

    .user-name-password-container {
        width: 100%;
        font-size: 0.5em;
    }

    .create-account-text-link,
    .forget-password {
        font-size: 0.5rem;
    }

    .info-icon {
        width: 10px;
    }

    .email-box {
        width: 72%;
    }

    .password-box {
        width: 57%;
    }

    .eye-icon {
        position: relative;
        left: 80%;
    }
}